/* Contenedor principal del Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 71px;
  padding: 10px 20px;
  background-color: var(--color-blanco);
  max-width: var(--max-width-canvas);
  margin: 0 auto;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Contenedor del Logo */
.navbar-logo img {
  height: 40px;
}

/* Grupo de botones de la derecha */
.navbar-actions {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* Botones de Íconos */
.navbar-icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-icon-btn img {
  width: 40px;
  height: 40px;
}

/* Notificación del Carrito */
.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  background-color: #ff48b0;
  color: var(--color-blanco);
  border-radius: var(--radio-circulo);
  padding: 2px 5px;
  font-weight: 700;
}

/* Menú Desplegable */
.navbar-dropdown {
  position: absolute;
  top: 71px;
  right: 20px;
  background-color: var(--color-gris-claro);
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.dropdown-link {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 18px;
  height: 41.56px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: var(--color-negro-puro);
  text-decoration: none;
  background-color: var(--color-blanco);
  text-transform: capitalize;
}

.dropdown-link:hover {
  background-color: var(--color-gris-claro);
}