/* Contenedor principal del Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 71px;
  padding: 10px 20px;
  background-color: var(--color-blanco);
  max-width: var(--max-width-canvas);
  margin: 0 auto;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Contenedor del Logo */
.navbar-logo img {
  height: 40px;
}

/* Grupo de botones de la derecha */
.navbar-actions {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative; /* Agrega esta línea */
}

/* Botones de Íconos */
.navbar-icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-icon-btn img {
  width: 40px;
  height: 40px;
}

/* Notificación del Carrito */
.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  background-color: #ff48b0;
  color: var(--color-blanco);
  border-radius: var(--radio-circulo);
  padding: 2px 5px;
  font-weight: 700;
}

/* Menú Desplegable */
.navbar-dropdown {
  position: absolute;
  top: 100%; 
  right: 0; 
  background-color: var(--color-gris-claro);
  width: 170px;
  display: flex;
  flex-direction: column;
  box-shadow: -4px 4px 12px rgba(0,0,0,0.05);
  z-index: 1000;
  border-radius: 0; 
}

.dropdown-link {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 14px;
  padding: 12px 15px;
  display: flex;
  justify-content: center; 
  align-items: center;
  color: var(--color-negro-puro);
  text-decoration: none;
  background-color: var(--color-gris-claro);
  border-bottom: 2px solid var(--color-blanco);
  transition: background-color 0.2s ease;
}

.dropdown-link:last-child {
  border-bottom: none;
}

.dropdown-link:hover {
  background-color: #e5e5e5;
}